# 판다스 사용법

In [76]:
import pandas as pd # 판다스 불러내기

In [77]:
customerData = pd.read_csv("../customerdata.csv") # 리스트 출력하는법

In [78]:
customerData.head(2) #리스트 헤드. 위에서 두줄 나오게 하는법

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.90000    3          6.4    1.679181  Big-Screen-lover
1  A14219    3642.44195    2          4.0    2.682023      Sleeping-dog

In [79]:
customerData.dtypes # 리스트의 타입이 무엇인지 아는 법(object = str, int)

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT     float64
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object

In [80]:
customerData["DEVICECOUNT"] = customerData["DEVICECOUNT"].astype(int) # 리스트를 정수형으로 변형 시킨다.

In [81]:
customerData # 변형된 리스트를 다시 출력해봄

     CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566   4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219   3642.441950    2            4    2.682023      Sleeping-dog
2    A15312   3653.884565    2            5    3.208202      Sleeping-dog
3    A16605   3713.211107    2            6    0.900000        Early-bird
4    B10634   3391.074215    2            4    2.453656      Sleeping-dog
5    B16849   3755.263391    2            4    2.786665      Sleeping-dog
6    B18816   3213.911446    2            6    0.900000        Early-bird
7    C10639   3516.500000    2            5    2.564830  Big-Screen-lover
8    C12717   3732.900000    2            5    2.069995  Big-Screen-lover
9    C15050   4020.173425    2            4    3.013440      Sleeping-dog
10   C18306   4005.005142    2            4    3.113618      Sleeping-dog
11   C18622   3246.000000    1            5    1.891624  Big-Screen-lover
12   C19178   3624.700000    2            5    2.137246  Big-Screen-lover
13   D11795   2991.014703    2            6    0.800000        Early-bird
14   D13030   3227.855655    2            4    3.467370      Sleeping-dog
15   D15289   4165.700000    2            6    2.911016  Big-Screen-lover
16   D17241   4166.533130    2            4    2.577757      Sleeping-dog
17   D17880   3383.145853    2            4    2.903990      Sleeping-dog
18   E10778   4165.700000    2            6    2.122257  Big-Screen-lover
19   E11917   3516.500000    2            5    2.087540  Big-Screen-lover
20   E16075   3418.048887    2            4    2.771469      Sleeping-dog
21   E16221   3408.300000    2            5    1.988682  Big-Screen-lover
22   E18145   3408.300000    2            4    1.521029  Big-Screen-lover
23   E19404   3764.940414    2            6    0.900000        Early-bird
24   F10222   3191.065822    2            6    0.900000        Early-bird
25   F12979   4165.700000    2            6    2.128362  Big-Screen-lover
26   F14866   3137.800000    2            5    1.725892  Big-Screen-lover
27   F17131   3179.708359    3            6    1.100000        Early-bird
28   F18646   3334.244233    2            4    3.273196      Sleeping-dog
29   F19938   3732.900000    2            5    2.011303  Big-Screen-lover
..      ...           ...  ...          ...         ...               ...
120  U16894   3234.465609    2            3    2.606419      Sleeping-dog
121  U17547   3313.905655    2            4    2.448368      Sleeping-dog
122  U17748   3394.152840    2            4    2.185742      Sleeping-dog
123  V10654   3902.329790    2            4    3.260149      Sleeping-dog
124  V16516   3149.259875    2            4    2.410823      Sleeping-dog
125  V16704   2605.631083    2            6    0.900000        Early-bird
126  V18566   3527.701867    3            6    0.900000        Early-bird
127  V19072   3462.400000    2            5    1.922932  Big-Screen-lover
128  W10832   3527.360507    2            4    2.136971      Sleeping-dog
129  W13032   4003.400000    2            6    2.519623  Big-Screen-lover
130  W13404   4296.873743    3            6    1.100000        Early-bird
131  W13995   2411.008838    2            6    1.000000        Early-bird
132  W16193   3402.729703    2            6    0.900000        Early-bird
133  W18228   3480.455474    2            6    0.900000        Early-bird
134  X10158   3949.300000    2            6    1.815666  Big-Screen-lover
135  X13390   2947.543982    3            6    1.100000        Early-bird
136  X14259   3481.314549    2            4    2.528063      Sleeping-dog
137  X19598   3516.500000    2            5    2.646259  Big-Screen-lover
138  X19768   3486.085831    2            4    2.835355      Sleeping-dog
139  Y10906   3408.300000    2            6    2.131432  Big-Screen-lover
140  Y12458   2976.211190    1            3    2.199677      Sleeping-dog
141  Y13678   3408.300000    2            5    2.084005  Big-Screen-lover
142  Z11525   3259.018704    3            6    0.900000        Early-bird
143  Z12343   3498.896985    2            6    0.900000        Early-bird
144  Z12772   3029.600000    2            4    2.093035  Big-Screen-lover
145  Z13253   3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534   3662.437527    3            6    0.900000        Early-bird
147  Z16428   3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735   3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835   3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

## ----------------------------------------------------------------------------------------------------------------------------

### 리스트 수정하는 법

In [83]:
customerData1 = pd.read_csv("../dataset/kopo_customerdata.csv") #리스트 출력한 것을 새로운 변수에 담는다.

In [84]:
customerData1.head(2) #헤드값만 출력해서 리스트가 맞는지 확인한다.

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0

In [86]:
customerData1.dtypes # 리스트의 타입이 무엇인지 알아본다.

CUSTOMERCODE      int64
STATENAME        object
ST                int64
GENDER           object
DOB               int64
GENDER1           int64
EMAIL             int64
FEST_CNT          int64
TOTAL_AMOUNT      int64
AC_AMOUNT         int64
AV_AMOUNT         int64
HA_AMOUNT         int64
EMI_CE_AMOUNT     int64
IS_HIGHEND        int64
CNT_VIST          int64
GAP_VISIT         int64
dtype: object

In [91]:
customerData1 = customerData1[(customerData1.GENDER == "Male") & (customerData1.EMAIL > 0)] # 리스트를 수정해서 다시 변수에 넣는 방법.

In [92]:
customerData1.head(100) #잘 되었는지 확인해본다. 리스트 양이 많기 때문에 헤드를 이용 100줄만 출력해본다.

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
81,393246,State2,2,Male,0,1,1,1,18200,0,0,18200,0,0,1,0
206,2532568,State2,2,Male,1,1,1,0,48000,48000,0,0,0,0,1,0
216,487928,State2,2,Male,0,1,1,0,72300,0,27900,44400,0,0,1,0
226,2452240,State2,2,Male,1,1,1,1,22500,0,0,22500,0,0,1,0
299,1295854,State2,2,Male,1,1,1,2,59900,0,25100,34800,0,0,4,655
308,554757,State2,2,Male,0,1,1,0,22100,0,0,22100,0,0,1,0
330,761018,State2,2,Male,1,1,1,0,21200,0,0,21200,0,0,1,0
367,2191152,State2,2,Male,0,1,1,1,55700,0,55700,0,0,0,1,0
375,867914,State2,2,Male,0,1,1,0,14300,0,14300,0,0,0,1,0
415,1804886,State2,2,Male,0,1,1,1,35300,35300,0,0,0,0,1,0
420,1708130,State2,2,Male,0,1,1,4,59400,0,19000,40400,0,0,5,471
461,1701227,State2,2,Male,1,1,1,2,180300,0,180300,0,0,1,3,629
472,783314,State2,2,Male,0,1,1,0,11700,0,0,11700,0,0,1,0
577,2202752,State2,2,Male,1,1,1,1,145500,0,145500,0,0,0,1,0
588,1930071,State2,2,Male,0,1,1,0,30900,0,0,30900,0,0,1,0
589,1313388,State2,2,Male,0,1,1,1,33700,0,33700,0,0,0,1,0
599,801903,State2,2,Male,1,1,1,0,71400,71400,0,0,0,0,2,1
622,2028191,State2,2,Male,1,1,1,0,93300,0,93300,0,0,0,2,14
632,1832133,State2,2,Male,0,1,1,0,62700,0,62700,0,0,0,1,0
635,1770645,State2,2,Male,0,1,1,1,28600,0,0,28600,0,0,1,0
672,1239402,State2,2,Male,1,1,1,1,444500,0,69100,375400,0,0,3,287
707,1670252,State2,2,Male,1,1,1,1,28200,0,28200,0,0,0,1,0
735,1794917,State2,2,Male,0,1,1,1,37800,0,37800,0,0,0,1,0
749,1585965,State2,2,Male,1,1,1,2,405200,40500,294000,70700,60000,0,3,152
761,1669697,State2,2,Male,1,1,1,1,245700,0,245700,0,229000,1,2,26
764,2203801,State2,2,Male,1,1,1,4,206000,0,128400,77600,0,0,5,241
765,716171,State2,2,Male,0,1,1,0,124000,0,53800,70200,0,0,2,10
766,2556707,State2,2,Male,1,1,1,0,507900,0,479200,28700,0,0,2,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,1205274,State2,2,Male,0,1,1,1,14300,0,14300,0,0,0,1,0
1255,447718,State2,2,Male,0,1,1,0,42000,0,42000,0,0,0,1,0
1259,776005,State2,2,Male,0,1,1,0,14500,0,0,14500,0,0,1,0
1364,1375710,State2,2,Male,0,1,1,0,61400,61400,0,0,0,0,1,0
1370,1841520,State2,2,Male,1,1,1,0,34000,0,2200,31800,0,0,2,1
1402,1768054,State2,2,Male,1,1,1,1,47000,0,15900,31100,0,0,1,0
1436,411012,State2,2,Male,0,1,1,1,156900,0,156900,0,0,0,2,3
1452,355873,State2,2,Male,0,1,1,2,128400,0,116600,11800,0,0,2,16
1459,789376,State2,2,Male,1,1,1,1,61200,0,61200,0,0,0,2,234
1461,559090,State2,2,Male,0,1,1,0,12400,0,0,12400,0,0,1,0
1479,1205101,State2,2,Male,0,1,1,1,25800,0,0,25800,0,0,1,0
1509,1633943,State2,2,Male,1,1,1,2,144300,0,93100,51200,0,0,3,272
1534,1776293,State2,2,Male,1,1,1,1,30200,0,30200,0,0,0,2,29
1538,705071,State2,2,Male,0,1,1,0,26300,0,26300,0,0,0,1,0
1551,703311,State2,2,Male,0,1,1,1,14300,0,14300,0,0,0,1,0
1558,1152535,State2,2,Male,0,1,1,0,35100,0,0,35100,0,0,1,0
1566,359955,State2,2,Male,0,1,1,1,7700,0,0,7700,0,0,1,0
1569,2478252,State2,2,Male,1,1,1,1,27700,0,27700,0,0,0,2,24
1574,1964974,State2,2,Male,1,1,1,0,45700,0,0,45700,0,0,1,0
1631,486863,State2,2,Male,0,1,1,0,33000,0,33000,0,0,0,1,0
1642,1691848,State2,2,Male,1,1,1,3,33000,0,33000,0,0,0,3,130
1644,2393081,State2,2,Male,1,1,1,0,43000,0,43000,0,0,0,1,0
1658,883456,State2,2,Male,1,1,1,3,193100,177700,0,15400,0,0,7,892
1666,1890712,State2,2,Male,0,1,1,1,263800,0,263800,0,0,0,1,0
1673,2374215,State2,2,Male,0,1,1,0,20600,0,0,20600,0,0,1,0
1679,691460,State2,2,Male,0,1,1,1,19100,0,0,19100,0,0,1,0
1702,447692,State2,2,Male,0,1,1,0,56700,0,56700,0,0,0,1,0
1705,714732,State2,2,Male,1,1,1,1,18700,0,0,18700,0,0,2,466
1717,427625,State2,2,Male,0,1,1,1,39700,0,39700,0,0,0,1,0
1725,2474836,State2,2,Male,1,1,1,1,65100,0,0,65100,0,0,1,0

In [111]:
targetGender = "Female"

In [112]:
targetGender = targetGender.upper()

In [113]:
targetEmail = 0

In [114]:
customerData1 = customerData1[(customerData1.GENDER.str.upper() == targetGender) & (customerData1.EMAIL > targetEmail)]

In [115]:
customerData1

Empty DataFrame
Columns: [CUSTOMERCODE, STATENAME, ST, GENDER, DOB, GENDER1, EMAIL, FEST_CNT, TOTAL_AMOUNT, AC_AMOUNT, AV_AMOUNT, HA_AMOUNT, EMI_CE_AMOUNT, IS_HIGHEND, CNT_VIST, GAP_VISIT]
Index: []

### ---------------------------------------------------------------------------------------------------------------------------------------------------------

### 원하는 데이터만 출력하는 법

In [130]:
pdProduct = pd.read_csv("../dataset/kopo_product_volume.csv") #판다스에서 리스트를 불러와 새로운 변수에 담는다.

In [131]:
pdProduct.head(4) # 불러온 리스트가 잘 나오는지 출력해본다.

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999
2      A01       ST0001    201418  671464
3      A01       ST0002    201418  134467

In [132]:
pdProductSt = "st0002" # 원하는 출력 데이터를 찾기위해서 사용한다. PRODUCTGROUP를 ST0002로 찾기 위해.

In [133]:
pdProductSt = pdProductSt.upper() # 원하는 출력 데이터가 대문자이기 때문에 upper로 대문자로 변환해준다.

In [134]:
pdProductVolue = 300000 # Value값이 300000인 값을 찾기위해 변수에 지정해준다.

In [135]:
pdProduct = pdProduct[(pdProduct.PRODUCTGROUP.str.upper() == pdProductSt) & (pdProduct.VOLUME > 300000)]
                        #리스트를 불러 오기 위한 로직값을 입력한다.

In [136]:
pdProduct

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
80       A01       ST0002    201452   422468
86       A01       ST0002    201451   356271
90       A01       ST0002    201449   669711
94       A01       ST0002    201447   378339
102      A01       ST0002    201448  1400339
196      A01       ST0002    201552   422468
208      A01       ST0002    201551   356271
212      A01       ST0002    201549   669711
216      A01       ST0002    201547   378339
224      A01       ST0002    201548  1400339